.featured-banner-container {
  height: 300px;
  width: 100%;
  padding: 1.5rem;
  overflow: hidden;
}

.featured-banner-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.category-list {
  padding: 5px 25px;
  width: 100%;
}

.item-list {
  display: flex;
  gap: 50px;
  margin-bottom: 1rem;
}

.item {
  border-radius: 10px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  width: 200px;
  overflow: hidden;
}

.item * {
  margin: 0;
}

.item-description {
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
  gap: 0.5rem;
}

.item-description a {
  text-decoration: none;
}

.item-name {
  width: 100%;
}

.item-img-container {
  gap: 1rem;
  width: 100%;
  aspect-ratio: 1;
}

.item-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
