.featured-banner-container {
  height: 500px;
  width: 100%;
  padding: 1.5rem;
  overflow: hidden;
}

.featured-banner-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featured-product-title {
  margin-top: 0;
}

.category-list {
  padding: 5px 25px;
  width: 100%;
}

.item-list {
  display: flex;
  gap: 50px;
  margin-bottom: 1rem;
}
